.slide-img {
    height: 25vh;
    width: auto ;
    background-repeat: no-repeat;
    background-size:contain ;
    background-position: center;
    
}

@media (min-width: 768px) {
    .slide-img { 
        background-size:cover; 
        height: 90vh;
    }
  }

  /* @media (min-width: 900px) {
    .slide-img { background-size:cover ; }
  } */
