.popular-anime {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.popular-anime > hr {
    width: 100px;
    align-content: center;
}

.anime-grid {
    display: grid;
    grid-gap: 1rem;
}

.search-loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

/*Show and hide*/
.show {
	display: inline-flex;
}

.hide {
	display: none;
}

@media (min-width: 600px) {
    .anime-grid { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .anime-grid { grid-template-columns: repeat(4, 1fr); }
  }

