.pagination {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-item:hover:not(.active) {background-color: black;}

  
.page-item {
    padding: 7px 7px;
    margin: 5px;
}